<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td style="width:50%">
    <h4><%= product.name %></h4>
    <p style="font-size:12px">
      <%=product.description %>%
    </p>
  </td>
  <td>
    <h4><%= quantity%></h4>
  </td>
  <td>
    <h4><%= humanized_money_with_symbol product.price * quantity%></h4>
  </td>
</tr>
