<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= humanized_money_with_symbol @product.price %></dd>
        </dl>
      </div>
  </article>

      <br>
         <h4>Reviews</h4>

        <%if @product.reviews.size == 0%>
        <p>There are no ratings for this product yet.</p>
        <%else%> 
         
        <% @product.reviews.each do |review|%>
        <div class="panel panel-default">
        <div class="panel-heading">
         <%=User.find(review.user_id).first_name%> <%=User.find(review.user_id).last_name%> said (on <%=review.created_at.strftime("%B %e, %Y ")%>):
        </div> 
        <div class="panel-body">
        <%=review.description%>
        <p>Rating: <%=review.rating%>/5</p>
        
        </div>
        </div>     
        <%end%>
        <%end%>
      
    
</section>
